/*
section.main{
	font-size: 16px;
	line-height: 1.4;

@media screen and  (max-width: $width-large){
	float: left;
	width: 65%;
}	
@media screen and (max-width: $width-medium){
		float: none;
		width: auto;		
	}
@media screen and (max-width: $width-small){
	font-size: 12px;
	line-height: 1.4;
	}	
}
*/
#content {
  float: left;
  width: 70%; }
  @media only screen and (max-width: 1200px) {
    #content {
      width: 80%; } }
  @media only screen and (max-width: 800px) {
    #content {
      width: 50%;
      font-size: 14px; } }
  @media only screen and (max-width: 500px) {
    #content {
      float: none;
      width: 100%;
      font-size: 12px; } }

/*
@media (-webkit-min-device-pixel-ratio: 1.5),
	   (min--moz-device-pixel-ratio: 1.5),
	   (-o-min-device-pixel-ratio: 3/2),
	   (min-device-pixel-ratio: 1.5),
	   (min-resolution: 1.5dppx){
ul.folloe li.dribble a{
	padding-left: 30px;
	background-repeat: no-repeat;
	background-postion: 0 50%;
	background-image: url(../img/icon-dribble-2x.png);
	-webkit-background-size: 24px 24px;
	   -moz-background-size: 24px 24px;
	   		background-size: 24px 24px;
    }	   
   }
   */
li.drible a {
  background-image: url("../img/icon-dribble.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.drible a {
      background-image: url("../img/icon-dribble-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }

li.flickr a {
  background-image: url("../img/icon-flickr.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.flickr a {
      background-image: url("../img/icon-flickr-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }

li.facebook a {
  background-image: url("../img/icon-facebook.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.facebook a {
      background-image: url("../img/icon-facebook-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }
