@import "mixins.scss";
@import "variables.scss";
@import "resize.scss";

  body{


  }
  header {
    margin 0 115px 0; 
    color: $color-light;
  }
  footer {
      font-size: 12px;
      color: $color-lighter;
  }
  #container {
    width: 100%px;
    height: 600px;
    background-color: $color-main; 
  }

  h1 {
    padding: 15px 0;
    font: {
    size: 54px;
    family: $font-sans;
    weight: bold;   
    line-height: 1;
    }
    @include responsive(wide-screens) {
     font-size: 48px;
    }
    
    @include responsive(medium-screens) {
      font-size: 32px;
    }
    
    @include responsive(small-screens) {
      font-size: 20px;
    } 
  }
    