/*
section.main{
	font-size: 16px;
	line-height: 1.4;

@media screen and  (max-width: $width-large){
	float: left;
	width: 65%;
}	
@media screen and (max-width: $width-medium){
		float: none;
		width: auto;		
	}
@media screen and (max-width: $width-small){
	font-size: 12px;
	line-height: 1.4;
	}	
}
*/
#content {
  float: left;
  width: 70%; }
  @media only screen and (max-width: 1200px) {
    #content {
      width: 80%; } }
  @media only screen and (max-width: 800px) {
    #content {
      width: 50%;
      font-size: 14px; } }
  @media only screen and (max-width: 500px) {
    #content {
      float: none;
      width: 100%;
      font-size: 12px; } }

/*
@media (-webkit-min-device-pixel-ratio: 1.5),
	   (min--moz-device-pixel-ratio: 1.5),
	   (-o-min-device-pixel-ratio: 3/2),
	   (min-device-pixel-ratio: 1.5),
	   (min-resolution: 1.5dppx){
ul.folloe li.dribble a{
	padding-left: 30px;
	background-repeat: no-repeat;
	background-postion: 0 50%;
	background-image: url(../img/icon-dribble-2x.png);
	-webkit-background-size: 24px 24px;
	   -moz-background-size: 24px 24px;
	   		background-size: 24px 24px;
    }	   
   }
   */
li.drible a {
  background-image: url("../img/icon-dribble.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.drible a {
      background-image: url("../img/icon-dribble-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }

li.flickr a {
  background-image: url("../img/icon-flickr.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.flickr a {
      background-image: url("../img/icon-flickr-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }

li.facebook a {
  background-image: url("../img/icon-facebook.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    li.facebook a {
      background-image: url("../img/icon-facebook-2xpng");
      -webkit-background-size: 24px 24px;
      -moz-background-size: 24px 24px;
      background-size: 24px 24px; } }

header {
  color: black; }

footer {
  font-family: "Jubilat", "Gorgia", "Serif";
  font-size: 12px;
  color: #746565;
  clear: both;
  position: absolute;
  text-align: center;
  left: 39%;
  width: 300px;
  top: 115%; }

#footerhome {
  font-family: "Jubilat", "Gorgia", "Serif";
  font-size: 12px;
  color: #746565;
  clear: both;
  position: absolute;
  text-align: center;
  left: 39%;
  width: 300px;
  top: 140%; }

#billboard {
  /*Fall Back from browsers*/
  background-color: white;
  /*Monzilla Firefox*/
  background-image: -moz-linear-gradient(#3f745c, white);
  /*Opera*/
  background-image: 0 -linear-gradient(#3f745c, white);
  /*webkit (Safari 4+, Chrome 1+)*/
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3f745c), color-stop(1, white));
  /*webkit chrome 11+*/
  background-image: -ms-linear-gradient(#3f745c, white);
  /*IE10*/
  background-image: -ms-linear-gradient(#3f745c, white);
  /*W3C*/
  background-image: linear-gradient(#3f745c, white);
  background-position: 50% 55%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 40%;
  left: 0;
  overflow: hidden;
  background-size: 1363px 1180px; }
  #billboard background {
    right: auto;
    left: 50%;
    margin-left: -732px;
    width: 1440px;
    background-size: 1363px 1180px; }
  #billboard .pos {
    position: absolute; }
  #billboard h1 {
    padding: 25px 0;
    float: right;
    margin-right: 61%;
    font-size: 54px;
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
    font-weight: bold;
    font-line-height: 1; }
    @media only screen and (max-width: 1200px) {
      #billboard h1 {
        font-size: 48px; } }
    @media only screen and (max-width: 800px) {
      #billboard h1 {
        font-size: 32px; } }
    @media only screen and (max-width: 500px) {
      #billboard h1 {
        font-size: 20px; } }

h2 {
  float: right;
  margin-right: 47%;
  font-variant: small-caps;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
  font-size: 30px; }
  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 28px; } }
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 20px; } }
  @media only screen and (max-width: 500px) {
    h2 {
      font-size: 18px; } }

#web {
  width: 300px;
  border-right-style: ridge;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
  color: black;
  clear: both;
  position: absolute;
  top: 61%;
  bottom: 10%;
  left: 8%; }
  #web img {
    width: 36%;
    position: relative;
    left: 13%; }

#design {
  width: 300px;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
  color: black;
  clear: both;
  position: absolute;
  top: 61%;
  bottom: 10%;
  left: 42%; }
  #design img {
    width: 38%;
    position: relative;
    left: 13%; }

#hobbies {
  color: black;
  width: 300px;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
  border-left-style: ridge;
  clear: both;
  position: absolute;
  top: 61%;
  bottom: 10%;
  left: 66%;
  padding-left: 115px; }
  #hobbies img {
    width: 38%;
    position: relative;
    left: 13%; }

/* About me homepage */
#me {
  position: absolute;
  top: 100%;
  bottom: 30%;
  left: 30%; }
  #me img {
    width: 40%;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px; }
  #me h3 {
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
    position: absolute;
    right: 28%;
    top: 6%; }
  #me p {
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
    position: relative;
    left: 57%;
    padding: 15px;
    font-size: 15px; }

#media img {
  position: relative;
  width: 13%;
  left: 71%; }

/*end home page about me */
/*nav bar*/
#navbar {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 47px;
  background-color: black; }
  #navbar img {
    position: fixed;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 53px;
    top: 13px;
    left: 8px; }
  #navbar ul {
    list-style-type: none; }
  #navbar li {
    padding-left: 5px;
    margin-left: 38px;
    border-left: 2px;
    border-bottom-left-radius: 5px;
    border-left-style: groove;
    font-size: 25px;
    float: left;
    margin-top: -6px; }
    #navbar li a {
      font-weight: bold;
      text-decoration: none;
      color: white; }
    #navbar li a:hover {
      text-decoration: underline; }

#cir {
  background-color: black;
  position: fixed;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  width: 70px;
  height: 70px;
  top: 3px;
  left: -1px; }

#img1 img {
  width: 34px;
  position: fixed;
  left: 86%;
  top: 5px; }

#img2 img {
  width: 34px;
  position: fixed;
  left: 89%;
  top: 5px; }

#img3 img {
  width: 34px;
  position: fixed;
  left: 92%;
  top: 5px; }

#img4 img {
  width: 34px;
  position: fixed;
  left: 95%;
  top: 5px; }

/* end nav */
/* profolio Web format*/
#imageweb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #FFF;
  width: 60%;
  height: 45%;
  top: 23px;
  margin-left: 264px; }
  #imageweb img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

#webcontainer {
  /*Fall Back from browsers*/
  background-color: white;
  /*Monzilla Firefox*/
  background-image: -moz-linear-gradient(#66bebe, white);
  /*Opera*/
  background-image: 0 -linear-gradient(#66bebe, white);
  /*webkit (Safari 4+, Chrome 1+)*/
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #66bebe), color-stop(1, white));
  /*webkit chrome 11+*/
  background-image: -ms-linear-gradient(#66bebe, white);
  /*IE10*/
  background-image: -ms-linear-gradient(#66bebe, white);
  /*W3C*/
  background-image: linear-gradient(#66bebe, white);
  width: 100%;
  height: 114%;
  position: absolute;
  top: 47px;
  display: inline-block;
  right: 0px; }

img.opacity {
  opacity: 1.0;
  filter: alpha(opacity=50); }

img.opacity:hover {
  background-color: #b8adad;
  opacity: 0.5;
  filter: alpha(opacity=50); }

#imgbuttonweb1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  left: 545px;
  top: 76px; }
  #imgbuttonweb1 img {
    width: 200px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttonweb2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 125px;
  left: 250px;
  float: left; }
  #imgbuttonweb2 img {
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    border-color: #b8adad; }

#imgbuttonweb3 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 226px;
  right: 246px;
  float: right; }
  #imgbuttonweb3 img {
    width: 200px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    border-color: #b8adad; }

#imgbuttonweb4 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  background-color: red;
  position: relative;
  bottom: 123px;
  left: 23px;
  float: right; }
  #imgbuttonweb4 img {
    width: 200px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 10px;
    border-color: #b8adad; }

#imgbuttonweb5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  background-color: red;
  position: relative;
  bottom: 123px;
  left: 227px;
  float: right; }
  #imgbuttonweb5 img {
    border-bottom-style: double;
    border-width: 1px;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    border-color: #b8adad; }

/* Graphics pages */
#imagegraphics {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #FFF;
  width: 43%;
  height: 55%;
  top: 38px;
  margin-left: 80px; }
  #imagegraphics img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

#graphicscontainer {
  /*Fall Back from browsers*/
  background-color: white;
  /*Monzilla Firefox*/
  background-image: -moz-linear-gradient(#850689, white);
  /*Opera*/
  background-image: 0 -linear-gradient(#850689, white);
  /*webkit (Safari 4+, Chrome 1+)*/
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #850689), color-stop(1, white));
  /*webkit chrome 11+*/
  background-image: -ms-linear-gradient(#850689, white);
  /*IE10*/
  background-image: -ms-linear-gradient(#850689, white);
  /*W3C*/
  background-image: linear-gradient(#850689, white);
  width: 100%;
  height: 114%;
  position: absolute;
  top: 47px;
  display: inline-block;
  right: 0px; }

#imgbuttongraphics1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 110px;
  position: relative;
  bottom: 366px;
  float: right;
  right: 270px; }
  #imgbuttongraphics1 img {
    width: 163px;
    height: 206px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttongraphics2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 181px;
  right: 246px;
  float: right; }
  #imgbuttongraphics2 img {
    width: 207px;
    height: 148px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttongraphics3 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 118px;
  right: 246px;
  float: right; }
  #imgbuttongraphics3 img {
    width: 163px;
    height: 206px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttongraphics4 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 159px;
  right: 39px;
  float: right; }
  #imgbuttongraphics4 img {
    width: 223px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttongraphics5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 83px;
  right: 306px;
  float: right; }
  #imgbuttongraphics5 img {
    width: 250px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }

#imgbuttongraphics6 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 83px;
  right: 206px;
  float: right; }
  #imgbuttongraphics6 img {
    width: 250px;
    height: 120px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px; }
