@import "mixins.scss";
@import "variables.scss";
@import "resize.scss";

  body{
  

  }
  header {
    color: white;
    background-color: black;
  }
  footer {
       font-family: $font-serif;
       font-size: 13px;
       color: #FFF;
        clear: both;
        position: absolute;
        text-align: center;
        left: 39%;
        width: 300px;
        top: 92%;
      
  }

  #footerhome{
    font-family: $font-serif;
       font-size: 13px;
       color: $color-lighter;
        clear: both;
        position: absolute;
        text-align: center;
        left: 39%;
        width: 300px;
        top: 100%;
  }

  #billboard {
   @include linear-gradient(#405CBE, #8892B4);
   background-position: 50% 55%; 
   position: absolute;
   top: 0;
   right: 1px;
   border-bottom-right-radius: 53px;
   left: 0;
   width: 699px;
   height: 394px;

  h2 {
    float: right;
    margin-right:17%; 
    font-variant: small-caps;
    font-family: $font-sans;
    font-size: 30px;
   @include responsive(wide-screens) {
     font-size: 28px;
    }
    
    @include responsive(medium-screens) {
      font-size: 20px;
    }
    
    @include responsive(small-screens) {
      font-size: 18px;
      } 
    }



   }
   .pos{
      position: absolute;
   } 
  

  h1 {
    padding: 25px 0;
    float: right;
    margin-right: 21%;
    font: {
    size: 54px;
    family: $font-sans;
    weight: bold;   
    line-height: 1;
    }
    @include responsive(wide-screens) {
     font-size: 48px;
    }
    
    @include responsive(medium-screens) {
      font-size: 32px;
    }
    
    @include responsive(small-screens) {
      font-size: 20px;
      } 
    }
    
  h2 {
    float: right;
    margin-right: 47%; 
    font-variant: small-caps;
    font-family: $font-sans;
    font-size: 30px;
   @include responsive(wide-screens) {
     font-size: 28px;
    }
    
    @include responsive(medium-screens) {
      font-size: 20px;
    }
    
    @include responsive(small-screens) {
      font-size: 18px;
      } 
    }
    #web{
     width: 300px;
     border-right-style: ridge;
     border-color: #000000;
     font-family: $font-sans;
     color: $button-color; 
        clear: both;
        position: absolute;
        top: 63%;
        bottom: 10%;
        left: 8%;  
      img{
        width: 36%;
        position: relative;
        left: 13%;
      }
    }
    #design{
        width: 300px;
        font-family: $font-sans;
        color: $button-color; 
        clear: both;
        position: absolute;
        top: 63%;
        bottom: 10%;
        left: 42%;
      img{
        width: 38%;
        position: relative;
        left: 13%;
      }
           
    }
    #hobbies{
        color: $button-color; 
        width: 300px;
        font-family: $font-sans;
        border-left-style: ridge;
         border-color: #000000;
        clear: both;
        position: absolute;
        top: 63%;
        bottom: 10%;
        left: 66%;
        padding-left:  115px;
      img{
        width: 38%;
        position: relative;
        left: 13%;
      }
    }

 /* About me homepage */    
    #me{
      position: absolute;
      top: 32px;
      left: 56%;
      
        img {
        width: 41%;  
        @include rounded( 120px); 
      }
        h3{
          font-family: $font-sans;
          position: absolute;
          right: 22%;
          top: 1%;
        }
        p {
          font-family: $font-sans;
          position: relative;
          left: 47%;
          width: 236px;
          padding: 15px;
          font-size: 16px;
          bottom: 188px;
}
        
        @media (max-width: 1350px) {
          #me{
            position: absolute;
            left: 740px;
            top: 32px;
          }
        }
      
      }
      #media{
        img{
         position: relative;
         width: 72px;
         left: 59%;
         top: 335px;
        }
      }

/*end home page about me */      
/*nav bar*/
    #navbar {      
            font-family: $font-sans;
            top: 0;
            left: 0;
            position:fixed; 
            width: 100%;
            height: 47px;
            background-color: $button-color;
      img{
        position: fixed;
        @include rounded( 60px);
        width: 53px;
        top: 13px;
        left: 8px;
      }        
      
      ul { list-style-type: none; }
        li {
              padding-left: 5px;
              margin-left: 38px;
              border-left: 2px;
              border-bottom-left-radius: 5px;
              border-left-style: groove;
              font-size: 25px;  
              float: left;
              margin-top: -6px;
        a { font-weight: bold;
             text-decoration: none;
             color: $color-light; 
             } 
           a:hover{
              text-decoration: underline;
              }
            a:active{
             
               }        
    
  }
}
      #cir{
          background-color: $button-color;
          position: fixed;
          @include rounded( 60px);
          width: 70px;
          height: 70px;
          top: 3px;
          left: -1px;
        }

      #img1{
        img{
        width:34px;
        position: fixed;
        left: 86%;
        top: 5px; 
        }   
      }
      #img2{
        img{
        width: 34px;
        position: fixed;
        left: 89%;
        top: 5px;
        }  
      }
      #img3{
        img{
        width:34px;
        position: fixed;        
        left: 92%;
        top: 5px;  
        }
      }
      #img4{
        img{
        width: 34px;   
        position: fixed;
        left: 95%;
        top: 5px; 
        } 
      }
/* end nav */    
/* profolio Web format*/
#imageweb{
  @include rounded(10px);
  position: relative;
  background-color: #FFF;
  width: 60%;
  height: 45%;
  top: 23px;
  margin-left: 264px;
img{
  width: 100%;
  height: 100%;
  @include rounded(10px);
}
}
#webcontainer{
  @include linear-gradient(#66BEBE, #FFF);
  width: 100%;
  height: 114%;
  position: absolute; 
  top: 47px;
  display: inline-block;
  right: 0px;


  }
     
     img.opacity {
      opacity: 1.0;
      filter: alpha(opacity=50);
        }

      img.opacity:hover{ 
        background-color: #b8adad;
        opacity: 0.5;
        filter: alpha(opacity=50);
      }




  #imgbuttonweb1{
    img {
      width:200px;
      height: 120px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
     @include rounded(5px);
     width: 82px;
     height: 102px;
     position: relative;
     left: 545px;
     top: 76px;
  }
    #imgbuttonweb2{
     img {
      border-bottom-style: double;
      border-width: 1px;
      border-radius: 10px;
      width:200px;
      height: 120px;
      border-color: #b8adad;}
    
     @include rounded(5px);
     width: 82px;
     height: 102px;
     position: relative;
     bottom: 125px;
     left: 250px;
     float: left;
  }
    #imgbuttonweb3{
    img {
      width:200px;
      height: 120px;
      border-bottom-style: double;
      border-width: 1px;
      border-radius: 10px;
      width:200px;
      height: 120px;
      border-color: #b8adad;
    }
     @include rounded(5px);
     width: 82px;
     height: 102px;
     position: relative;
     bottom: 226px;
     right: 246px;
     float: right;
  }
#imgbuttonweb4{
  img {
      width:200px;
      height: 120px;
      border-bottom-style: double;
      border-width: 1px;
      border-radius: 10px;
      border-color: #b8adad;
    }
     @include rounded(5px);
     width: 82px;
     height: 102px;
     background-color: red;
     position: relative;
     bottom: 123px;
     left: 23px;
     float: right;
  }
  #imgbuttonweb5{
    img {
      border-bottom-style: double;
      border-width: 1px;
      border-radius: 10px;
      width:200px;
      height: 120px;
      border-color: #b8adad;
    }
     @include rounded(5px);
     width: 82px;
     height: 102px;
     background-color: red;
     position: relative;
     bottom: 123px;
     left: 227px;
     float: right;
  }
/* Graphics pages */
#imagegraphics{
  padding-right: 14px;
  padding-bottom: 14px;
  border-bottom-right-radius: 50px;
  border-bottom-style: solid;
  border-bottom-left-radius: 50px;
  border-left-style: solid;
  border-color: #21D910;
  border-right-style: solid;
  position: relative;
  width: 43%;
  height: 71%;
  top: 38px;
  margin-left: 80px;
img{
  @include rounded(10px);
  }
}
#graphicscontainer{
  background-color: #850689;
  width: 100%;
  height: 520px;
  position: absolute; 
  top: 47px;
  display: inline-block;
  right: 0px;
  border-bottom-style: solid;
  border-bottom-color: #21D910;
  border-bottom-width: 1.5px;
  }
  #imgbuttongraphics1{
     @include rounded(5px);
     width: 82px;
     height: 110px;
     position: relative;
     top: 5%;
     float: right;
     right: 270px;
   img{ 
    width: 100px;
    height: 130px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px;
    }
  }
#imgbuttongraphics2{
    @include rounded(5px);
     width: 82px;
     height: 102px;
     position: relative;
     bottom: 115px;
     right: 200px;
     float: right;
  img{
    width: 140px;
    height: 90px;
    border-bottom-style: double;
    border-width: 1px;
    border-color: #b8adad;
    border-radius: 10px;
  }
}  

#imgbuttongraphics3{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 75px;
  right: 180px;
  float: right;
    img{
      width: 100px;
      height: 130px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 } 

 #imgbuttongraphics4{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 150px;
  right: 20px;
  float: right;
    img{
      width: 140px;
      height: 80px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 } 
  #imgbuttongraphics5{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 250px;
  left: 155px;
  float: right;
    img{
      width: 160px;
      height: 80px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 } 
  #imgbuttongraphics6{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 525px;
  left: 145px;
  float: right;
    img{
      width: 170px;
      height: 80px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 } 

#imgbuttongraphics7{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 315px;
  right: 193px;
  float: left;
    img{
      width: 130px;
      height: 90px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 } 

 #imgbuttongraphics8{
  @include rounded(5px);
  width: 82px;
  height: 102px;
  position: relative;
  bottom: 411px;
  right: 34px;
  float: left;
    img{
      width: 180px;
      height: 80px;
      border-bottom-style: double;
      border-width: 1px;
      border-color: #b8adad;
      border-radius: 10px;
    }
 }
 #galleryback{
    width: 46%;
    height: 470px;
    position: relative;
    background-color: #796A6A;
    float: right;
    bottom: 72%;
    right: 21px;
    opacity: .95;
    border-style: solid;
    border-color: #21D910;
    border-radius: 20px;
    border-width: 1.5px;
 } 
 .imagegraphic1{
  height: 90%;
  width: 100%;
  margin-top: 20px;
  margin-left: 7px;
 } 
 .imagegraphic2{
  width: 56%;
  height: 98%;
  margin-left: 133px;

 }
 .imagegraphic3{
  height: 100%;
  margin-left: 150px;
 }
 .imagegraphic4{
  width:100%;
  height: 50%;
  margin-top: 100px;
  margin-left: 7px;
 }
  .imagegraphic5{
  width:100%;
  height: 60%;
  margin-top: 80px;
  margin-left: 7px;
 }

.imagegraphic7{
  width: 100%;
  height: 90%;
  margin-top: 15px;
  margin-left: 7px
 }
 .imagegraphic8{
  width: 100%;
  height: 47%;
  margin-top: 100px;
  margin-left: 7px;
 }
/*3-D page*/
#image3d{
  padding-right: 14px;
  padding-bottom: 14px;
  border-bottom-right-radius: 50px;
  border-bottom-style: solid;
  border-bottom-left-radius: 50px;
  border-left-style: solid;
  border-color: #FFF;
  border-right-style: solid;
  position: relative;
  width: 43%;
  height: 71%;
  top: 38px;
  margin-left: 80px;
img{
  @include rounded(10px);
  }
}
#container3d{
  background-color: #17BB95;
  width: 100%;
  height: 520px;
  position: absolute; 
  top: 47px;
  display: inline-block;
  right: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFF;
  border-bottom-width: 1.5px;
  }
  #portback{
    background-color: #000;
  }
  #galleryback3d{
    width: 46%;
    height: 470px;
    position: relative;
    background-color: #AA2222;
    float: right;
    bottom: 72%;
    right: 21px;
    opacity: .95;
    border-style: solid;
    border-color: #FFF;
    border-radius: 20px;
    border-width: 1.5px;
 } 