$color-main: #3F745C;
$color-light: #FFFFFF; 
$color-accent: #ea4c89; 
$color-lighter: #746565;
$button-color: black;
$font-sans: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", "San-Serif";
$font-serif: "Jubilat", "Gorgia", "Serif";